<div class="row">
    <div class="col">
        <img class="rounded w-100 border border-dark" src="me.jpeg"/>
    </div>
    <div class="col-9">
        <h3>General Info</h3>
        <p>Pellentesque a euismod mi, id bibendum tortor. Nullam ligula est, interdum iaculis ullamcorper et, tincidunt sed sapien. Nulla gravida accumsan tempus. Aenean eleifend magna eget odio lacinia tincidunt. Integer eu enim dictum tellus viverra finibus sed in lorem. Nulla eu massa arcu. </p>
        <p>Fusce nec dignissim urna. Curabitur placerat, ex et lacinia faucibus, sapien neque varius velit, sed euismod nibh nibh sed nibh. Donec bibendum, magna eu ullamcorper facilisis, sapien metus laoreet leo, vel iaculis enim tortor eu velit. Sed non magna vitae ipsum dapibus vehicula eu sed metus. Pellentesque sit amet nunc pellentesque, hendrerit lectus ut, mollis mauris. Sed ac arcu a metus vulputate lacinia.</p>
    </div>
</div>
<div class="row my-3">
    <div class="col">
        <h3>Skills:</h3>
        <ul>
            <li>Curabitur placerat</li>
            <li>bibendum</li>
            <li>sapien</li>
            <li>varius velit</li>
        </ul>
    </div>
</div>
