<div class="row">
    <div class="col-md-2 overflow-hidden">
        <img class="rounded thumbnail w-100" src="{{project.img}}" />
    </div>
    <div class="col-md-8">
        <p class="mb-0">
            <h1 class="txt-trans no_ul">{{project.title}}</h1>
            <br>
            <p class="txt-trans"><small>{{project.desc}}</small></p>
        </p>
    </div>
</div>
